@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600);

/*** Basic ***/

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 20px 120px 100px 120px;
  background-color: #F0F0F0;
  color: #333333;
  letter-spacing: 0.1em;
  font-size: 90%;
}

h2, h3, dt {
  font-weight: 600;
}

h1 {
  margin: 50px 0 30px 0;
  border-bottom: 1px solid #888;
  font-size: 190%;
  font-weight: 400;
  color: #000;
}

h2 {
  margin: 30px 0 20px 2px;
  font-size: 120%;
  color: #000;
}

h2::after {
  display: block;
  content: "";
  margin-top: 2px;
  background: #CCC; /*#EEE;*/
  background-image: -webkit-gradient(linear, right top, left top, from(#F0F0F0), to(#CCC));
  background-image: -moz-linear-gradient(left, #CCC, #F0F0F0);
  background-image: -ms-linear-gradient(left, #CCC, #F0F0F0);
  height: 1px;
  width: 70%;
}


h3 {
  font-size: 100%;
  color: #000;
  margin: 20px 0 10px 10px;
}

p, ul, ol, aside {
  margin: 10px 30px;
}

p {
  line-height: 160%;  
}

p.period {
  font-size: 80%;
  color: #666;
  margin-left: 35px;
}

aside {
  font-size: 80%;
  color: #555555;
  background-color: #DDD;
  padding: 5px 10px;
  border-radius: 5px;
}

ul, ol {
  padding-left: 30px;
  line-height: 140%;
}

ul {
  list-style-type: circle;
}

ul ul {
  list-style-type: disc;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
}

li {
  margin: 5px;
}

dt {
  margin: 10px 40px 5px 30px;
}

dd {
  margin-left: 50px;
  font-size: 90%;
  color: #444;
}

pre {
  margin: 10px 30px;
  padding: 0.6em 1em;
  border: 1px solid #CCC;
}

p, ul, ol {
  max-width: 650px;
}

a {
  color: #009900;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  border: 1px solid #CCC;
}

/*** Header ***/

div#header {
}

div#header div.logo a {
  font-size: 100%;
  letter-spacing: 0.2em;
  /*color: #666;*/
  color: #090;
  font-weight: 600;
}

ul.language-selection {
  float: right;
  margin: 0;
  font-size: 80%;
}

ul.language-selection li {
  display: inline;
  margin: 0 0.3em;
}

ul.language-selection li.selected {
  font-weight: 600;
  color: #999;
}

/*** Footer ***/

div.footer {
  font-size: 90%;
  text-align: center;
  border-top: 1px solid #888;
  margin-top: 60px;
  padding-top: 8px;
}

div.footer a {
  font-weight: 600;
}

span.last-modified {
  color: #666;
  font-size: 90%;
}

/*** Other ***/

a.download {
  display: inline-block;
  margin: 0.3em 0;
  border: 1px solid #9C9;
  border-radius: 5px;
  background-color: #F0FFF0;
  padding: 0.6em 2.5em;
}

/*** Clearfix ***/

.clearfix:after {
 content: ".";
 display: block;
 height: 0;
 clear: both;
 visibility: hidden;
}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
